<div class="container">
  <div class="top-bar">
    <div class="logo">Client Management</div>
    <div class="nav">
      <div class="user-email">{{ userEmail }}</div>
      <button class="logout-button" (click)="logout()">Logout</button>
    </div>
  </div>

  <div class="main-content">
    <div class="side-menu">
      <ul>
        <li><a routerLink="/home">Dashboard</a></li>
        <li><a routerLink="/home/clients">Clients</a></li>
        <li><a href="#">Perfil</a></li>
        <li><a href="#">Configuration</a></li>
        <li><a href="#">Help</a></li>
      </ul>
    </div>

    <div class="content">
      <router-outlet></router-outlet>
    </div>
  </div>

  <div class="footer">
    <p>&copy; All right reserved</p>
  </div>
</div>
